.App-logo {
  height: 40vmin;
}

.App{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slika{
  float: right;
}

table {
  text-align: center;
  margin:auto;
}

body{
  background-color: #282c34;
}