.App-logo {
  height: 40vmin;
}

.App{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.slika{
  float: right;
}

table {
  text-align: center;
  margin:auto;
}

body{
  background-color: #282c34;
}

p {
  margin-left: 200px;
  margin-right: 200px;
}
.link{
  color: red;
}

.link:hover{
  color: pink;
}

a {
  color: darkblue;
}

a:hover {
  color: blue;
}

table{
  background-color:lightslategray;
  padding: 20px 0px;
  font-weight: 600;
  color: #1c2229;
 

}